/* Nav containing menu */
#act-menu-container {
    position: absolute;
    right:98%;
    top: 40px;
};

/* Top level menu item */
.act-menu-item{
    background-color: palegreen;
    border: 1px solid #004000;
    height:30px;
    width:100%;
    display:inline-block;
};
/* Link part of top level menu item */
.act-menu-expand-button {
    background-color: darkgreen;
    height:30px;
    width:30%;
    display:inline-block;
}
/* Unordered list for a menu */
.act-menu-submenu {
    background-color: transparent;
    display:none;
}
/* Feint border around menu items */
.act-menu-menuitem {
    border: 1px solid #A0A0A0;
}