/* act-menu-colors.css */
:root {
    --act-menu-bg-color: rgba(152, 251, 152, 1.0); /* Light Green */
    --act-menu-bg-hover-color: rgba(130, 225, 130, 1.0); /* Lighter Green Hover */
    --act-menu-button-color: rgba(110, 200, 110, 1.0); /* Darker Green Button */
    --act-menu-border-color: #004000; /* Dark Green Border */
    --act-menu-submenu-background: transparent;
    --act-menu-item-border-color: #A0A0A0; /* Light Grey Item Border */
    --act-menu-text-color: black;
    --act-menu-button-text-color: white;
}