/* act-menu-colors.css */
/* colors based on F9F7E2F7 */
:root {
    --act-menu-bg-color:#FFFFFFFF;
    --act-menu-bg-hover-color: #FFFFFFFF;
    --act-menu-button-color:#F7F4D8F4;
    --act-menu-border-color:black;
    --act-menu-submenu-background: #FFFFFFFF;
    --act-menu-submenu-border-color: #A0A0A0; 
    --act-menu-text-color: black;
    --act-menu-link-hover: #76B44E;
    --act-menu-button-text-color: black;
    --act-menu-cutoff-value: 1000px;
}